{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Blog List</title>
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
    <!-- Font-awesome -->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
    <!-- Slick Slider -->
    <link href="{% static 'css/slick.css' %}" rel="stylesheet" />
    <!-- Slick Slider -->
    <link href="{% static 'css/prettyphoto.css' %}" rel="stylesheet" />
    <!-- Typography -->
    <link href="{% static 'css/typography.css' %}" rel="stylesheet" />
    <link href="svg-icon.css" rel="stylesheet" />
    <!-- widget.css -->
    <link href="{% static 'css/side-widget.css' %}" rel="stylesheet" />
    <!-- component-responsive.css -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
    <!-- component-responsive.css -->
    <link href="{% static 'css/component.css' %}" rel="stylesheet" />
    <!-- shortcodes.css -->
    <link href="{% static 'css/shortcodes.css' %}" rel="stylesheet" />
    <!-- colors.css -->
    <link href="{% static 'css/colors.css' %}" rel="stylesheet" />
    <!-- style.css -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  </head>
  <body>
    <!-- wrapper-->
    <div class="wrapper">
      <!--header-->
      {% include 'header.html' %}

      <!--CONTENT START-->
      <div class="content">
        <!--KF MAGZINE LIST START-->
        <div class="kf_magazine_list padding_list">
          <!--CONTAINER START-->
          <div class="container">
            <div class="col-md-9 responsive_padding">
              <div class="section_heading">
                <h2>{{ category|title }}</h2>
                <span></span>
              </div>
              {% for post in posts %}
              <div class="kf_news_list">
                <figure>
                  <img
                    src="{{post.thumbnail_url}}"
                    style="width: 290px; height: 336px; object-fit: cover"
                    alt=""
                  />
                </figure>
                <div class="kf_news_text text_2">
                  <a class="theam_btn margin-bottom" href="#"
                    >{{post.category}}</a
                  >
                  <h3>
                    <a href="{{post.get_absolute_url}}">{{post.title}}</a>
                  </h3>
                  <ul class="bit_meta meta_2 meta_5">
                    <li>
                      <a href="#"><i class="fa fa-user"></i>{{post.author}}</a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-calendar-check-o"></i
                        >{{post.timestamp|date:'F j, Y' }}</a
                      >
                    </li>
                  </ul>
                  <p>{{post.overview}}</p>
                  <a class="theam_btn_large" href="{{post.get_absolute_url}}"
                    >See More</a
                  >
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="col-md-3 responsive_padding">
              <!--SIDE BAR WRAP START-->
              <div class="side_bar_wrap">
                <!--KF SELLING ADD OVERLAY END-->
                <div class="kf_blog_list margin-30">
                  <div class="kf_top_story">
                    <div class="section_heading hdg_2">
                      <h2 class="font_size">Recent Post</h2>
                      <span></span>
                    </div>
                  </div>
                  <ul>
                    {% for news in business_list|slice:"0:4" %}
                    <li>
                      <div class="kf_blog_modren">
                        <figure>
                          <img
                            src="{% static 'extra-images/side-list-fig.jpg' %}"
                            alt=""
                          />
                        </figure>
                        <div class="kf_blog_modren_text">
                          <h6>{{news.title}}</h6>
                          <ul class="bit_meta meta_2 meta_4">
                            <li>
                              <a href="#"
                                ><i class="fa fa-user"></i>{{news.author}}</a
                              >
                            </li>
                            <li>
                              <a href="#"
                                ><i class="fa fa-calendar-check-o"></i
                                >{{news.timestamp|date:'F j, Y'}}</a
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                <!--KF SOCIAL LIST START-->
                <div class="kf_social_list">
                  <ul>
                    <li>
                      <div class="kf_social_detail">
                        <a class="twitter" href="#"
                          ><i class="fa fa-twitter"></i
                        ></a>
                      </div>
                    </li>
                    <li>
                      <div class="kf_social_detail">
                        <a class="facebook" href="#"
                          ><i class="fa fa-facebook"></i
                        ></a>
                      </div>
                    </li>
                    <li>
                      <div class="kf_social_detail">
                        <a class="dribbble" href="#"
                          ><i class="fa fa-instagram"></i
                        ></a>
                      </div>
                    </li>
                    <li>
                      <div class="kf_social_detail">
                        <a class="rss" href="#"><i class="fa fa-rss"></i></a>
                      </div>
                    </li>
                  </ul>
                </div>
                <!--KF SOCIAL LIST END-->
                <!--Category Wrap Start-->
                <div class="aladin_aside_category aside_hdg_1">
                  <div class="kf_top_story">
                    <div class="section_heading hdg_2">
                      <h2 class="font_size">Categories</h2>
                      <span></span>
                    </div>
                  </div>
                  <ul>
                    <li><a href="#">Business</a><span>(02)</span></li>
                    <li><a href="#">Corporate</a><span>(03)</span></li>
                    <li><a href="#">World</a><span>(04)</span></li>
                    <li><a href="#">Travel Business</a><span>(05)</span></li>
                  </ul>
                </div>
                <!--Category Wrap End-->
              </div>
              <!--SIDE BAR WRAP END-->
            </div>
          </div>
          <!--CONTAINER END-->
        </div>
        <!--KF MAGZINE LIST END-->

        <!--KF INSTAGRAM WRAP START-->
        <div class="kf_instagram_wrap">
          <div class="instagram-slide">
            <div>
              <div class="kf_instagram_fig">
                <figure>
                  <img src="{% static 'extra-images/slide.jpg' %}" alt="" />
                </figure>
              </div>
            </div>
            <div>
              <div class="kf_instagram_fig">
                <figure>
                  <img src="{% static 'extra-images/slide1.jpg' %}" alt="" />
                </figure>
              </div>
            </div>
            <div>
              <div class="kf_instagram_fig">
                <figure>
                  <img src="{% static 'extra-images/slide2.jpg' %}" alt="" />
                </figure>
              </div>
            </div>
            <div>
              <div class="kf_instagram_fig">
                <figure>
                  <img src="{% static 'extra-images/slide3.jpg' %}" alt="" />
                </figure>
              </div>
            </div>
            <div>
              <div class="kf_instagram_fig">
                <figure>
                  <img src="{% static 'extra-images/slide4.jpg' %}" alt="" />
                </figure>
              </div>
            </div>
            <div>
              <div class="kf_instagram_fig">
                <figure>
                  <img src="{% static 'extra-images/slide5.jpg' %}" alt="" />
                </figure>
              </div>
            </div>
            <div>
              <div class="kf_instagram_fig">
                <figure>
                  <img src="{% static 'extra-images/slide5.jpg' %}" alt="" />
                </figure>
              </div>
            </div>
          </div>
          <a class="kf_instagram_btn theam_btn_large theam_bg_color" href="#"
            >Follow @ Instagram</a
          >
        </div>
        <!--KF INSTAGRAM WRAP END-->

        <!--KF NEWSLETTER WRAP START-->
        <div class="kf_newsletter_wrap">
          <div class="container">
            <div class="kf_newsletter_text">
              <h2>Stay Connected With Us</h2>
              <ul class="top_icon icon_2">
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-dribbble"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-rss"></i></a>
                </li>
              </ul>
              <div class="kf_comment_form">
                <h4>Post Your Comment</h4>
                <form method="post" class="comment_form">
                  <div class="kf_commet_field">
                    <input
                      placeholder="Your Email"
                      name="url"
                      type="text"
                      value=""
                      required
                    />
                  </div>
                  <p class="form-submit">
                    <input
                      name="submit"
                      type="submit"
                      class="theam_btn"
                      value="Submit"
                    />
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!--KF NEWSLETTER WRAP END-->
      </div>
      <!--CONTENT END-->

      {% include 'footer.html' %}
    </div>
    <!--church wrapper ends-->
    <!-- jquery javascript-->
    <script src="{% static 'js/jquery.js' %}"></script>
    <!-- Bootstrap script-->
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <!-- modernizr script-->
    <script src="{% static 'js/jquery.prettyphoto.js' %}"></script>
    <!-- responsive-jquery script-->
    <script src="{% static 'js/jquery.downCount.js' %}"></script>
    <!-- responsive-jquery script-->
    <script src="{% static 'js/jquery.mkinfinite.js' %}"></script>
    <!-- responsive-jquery script-->
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
    <!-- responsive-jquery script-->
    <script src="{% static 'js/jquery.dlmenu.js' %}"></script>
    <!-- Slick Slider script-->
    <script src="{% static 'js/slick.js' %}"></script>
    <!-- Custom scripts-->
    <script src="{% static 'js/custom.js' %}"></script>
  </body>
</html>
