{% load static %}

<footer>
  <!--KF WIDGET WRAP START-->
  <div class="kf_widget_wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="kf_widget_text">
            <h3 class="widget_title">About Us</h3>
            <p>
              Sed cursus eget risus non vestibulum. Sed in molestie elit,
              vitae condimentum justo. Aenean vulpuint tate lin
              vestibulum. Sed in molestie elit, vitae condimentum
              justo....
            </p>
            <p>
              Sed cursus eget risus non vestibulum. Sed in molestie elit,
              vitae ...
            </p>
            <ul class="widget_info">
              <li>
                <div class="widget_info_list">
                  <i class="fa fa-phone"></i>
                  <div class="widget_info_text">
                    <a href="#">+92 - 34 - 2797084</a>
                    <a href="#">+92 - 36 - 6761448</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="widget_info_list">
                  <i class="fa fa-envelope"></i>
                  <div class="widget_info_text">
                    <a href="#">info@blogdesk.com</a>
                    <a href="#">info@blog.com</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="kf_widget_text">
            <h3 class="widget_title">Latest Post</h3>
            <div class="kf_blog_list">
              <ul>
                <li>
                  <div class="kf_blog_modren">
                    <figure>
                      <img
                        src="{% static 'extra-images/blog.jpg' %}"
                        alt=""
                      />
                    </figure>
                    <div class="kf_blog_modren_text">
                      <h6>
                        Business meeting held in a plane Before conference
                      </h6>
                      <ul class="bit_meta meta_2 meta_4">
                        <li>
                          <a href="#"
                            ><i class="fa fa-user"></i>John Throat</a
                          >
                        </li>
                        <li>
                          <a href="#"
                            ><i class="fa fa-calendar-check-o"></i>3
                            Months</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="kf_blog_modren">
                    <figure>
                      <img
                        src="{% static 'extra-images/blog1.jpg' %}"
                        alt=""
                      />
                    </figure>
                    <div class="kf_blog_modren_text">
                      <h6>
                        Business meeting held in a plane Before conference
                      </h6>
                      <ul class="bit_meta meta_2 meta_4">
                        <li>
                          <a href="#"
                            ><i class="fa fa-user"></i>John Throat</a
                          >
                        </li>
                        <li>
                          <a href="#"
                            ><i class="fa fa-calendar-check-o"></i>3
                            Months</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="kf_blog_modren">
                    <figure>
                      <img
                        src="{% static 'extra-images/blog2.jpg' %}"
                        alt=""
                      />
                    </figure>
                    <div class="kf_blog_modren_text">
                      <h6>
                        Business meeting held in a plane Before conference
                      </h6>
                      <ul class="bit_meta meta_2 meta_4">
                        <li>
                          <a href="#"
                            ><i class="fa fa-user"></i>John Throat</a
                          >
                        </li>
                        <li>
                          <a href="#"
                            ><i class="fa fa-calendar-check-o"></i>3
                            Months</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="kf_widget_text">
            <h3 class="widget_title">Contact Us</h3>
            <p>
              Sed cursus eget risus non vestibulum. Sed in molestie elit,
              vitae condimentum justo.
            </p>
            <form method="post" id="commentform" class="comment_form">
              <div class="kf_commet_field">
                <input
                  placeholder="Your Email"
                  name="author"
                  type="text"
                  value=""
                  data-default="Name*"
                  size="30"
                  required
                />
              </div>
              <div class="kode_textarea">
                <textarea
                  placeholder="Your Message"
                  name="comment"
                ></textarea>
              </div>
              <p class="form-submit">
                <input
                  name="submit"
                  type="submit"
                  class="theam_btn_large theam_bg_color"
                  value="Send Us"
                />
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--KF WIDGET WRAP END-->

  <!--KF COPYRIGHT START-->
  <div class="kf_copyright">
    <div class="container">
      <div class="kf_copyright_text">
        <p>© copyright 2023<a href="#"> biz499.in</a></p>
      </div>
    </div>
  </div>
  <!--KF COPYRIGHT END-->
</footer>